---
interface Props {
	name: string;
	email: string;
	image: string;
	description: string;
}

const { name, email, image, description } = Astro.props;
---

<article class="not-prose my-12 grid gap-x-8 gap-y-4 sm:my-16 sm:grid-cols-[auto_1fr]">
	<img alt="" class="size-32" src={image} />
	<div class="grid gap-y-2">
		<h2 class="text-lg font-bold">{name}</h2>
		<a
			class="underline decoration-dotted underline-offset-4 transition hover:decoration-solid"
			href={`mailto:${email}`}>{email}</a
		>
		<p>{description}</p>
	</div>
</article>
